<ul class="list-group" >
  <li class="row list-group-item" ng-repeat="item in narrowItDown.items">
    <span data-toggle="tooltip" data-placement="top" title="Don't want this one!">
      <span
              class="glyphicon glyphicon-remove glyphicon-lg-end"
              ng-click="narrowItDown.onRemove({index: $index});"
      />
    </span>
      <h4 class="list-group-item-heading">({{ item.short_name }}) {{ item.name }}</h4>
      <p class="list-group-item-text">{{ item.description }}</p>
  </li>
</ul>
<div class="alert alert-warning" role="alert" ng-transclude>{{narrowItDown.alertMessage}}</div>




