* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    padding: 10px;
}

h1.title {
    text-align: center;
    font-size: 250%;
    margin-top: 30px;
    margin-bottom: 80px;
}

div.row{
    clear: left;
}

div.col {
    margin-left: 2.5%;
    width: 30%;
    float: left;
}

div.card {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: #b5afae;
}

div.card-heading {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    text-align: center;
    font-size: 28px;
}

div.card-body {
    background-color: #b5afae;
}

.title1 {
    background-color: #d9a293;
}

.title2 {
    background-color: #963121;
    color: #ffffff;
}

.title3 {
    background-color: #f5c676;

}
