* {
    box-sizing: border-box;
}

p {
    padding: 10px;
}

h1.title {
    text-align: center;
    font-size: 250%;
    margin-top: 30px;
    margin-bottom: 80px;
}

div.container {
    font-family: Arial, Helvetica, sans-serif;
}

div.row{
    clear: left;
    height: auto;
}

div.col {
    margin-left: 2.5%;
    width: 30%;
    float: left;
}

div.card {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: #b5afae;
}

div.card-heading {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    text-align: center;
    font-size: 28px;
    width: 40%;
    height: 20%;
    alignment: right;
    /*float: right;*/
}

div.card-body {
    font-size: 18px;
}

.title-salmon {
    background-color: #d9a293;
}

.title-redwine {
    background-color: #963121;
    color: #ffffff;
}

.title-orange {
    background-color: #f5c676;

}
