<!DOCTYPE html>
<html lang="en" ng-app="NarrowItDownApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">

  <title>Narrow Down Your Menu Choice</title>
</head>
<body>
<div class="container">
  <h1>Narrow Down Your Chinese Menu Choice</h1>
  <div ng-controller="NarrowItDownController as narrowItDown">
    <div class="row">
      <div class="form-group">
        <input type="text" ng-model="narrowItDown.searchTerm" placeholder="Search term" class="form-control" >
      </div>
      <div class="form-group narrow-button">
        <button class="btn btn-primary"  ng-click="narrowItDown.getFilteredItems();">Narrow It Down For Me!</button>
      </div>
    </div>
    <div class="row">
      <found-items
              id="foundItems"
              items="narrowItDown.found"
              is-empty-search="narrowItDown.isEmptySearch"
              on-remove="narrowItDown.removeMenuItem(index)"
      >
        <span class="alert alert-warning warning" role="alert">Nothing Found!</span>
      </found-items>
    </div>
  </div>

</div>

<script src="lib/jquery-3.1.0.min.js"></script>
<script src="lib/angular_1_8_2.min.js"></script>
<script src="lib/angular-ui-router.min.js"></script>
<script src="src/app.js"></script>

</body>
</html>
